# <!DOCTYPE html>
# <html>
#   <head>
#     <title>TouristicPlace</title>
#     <%= csrf_meta_tags %>
#     <%= csp_meta_tag %>
#     <div>dsdsdsddddddddddddddddd</div>
#     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
#     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
#   </head>

#   <body>
#     <%= yield %>
#   </body>
# </html>

# \"departaments_ref\" (\"gid_0\",\"name_0\",\"gid_1\",\"name_1\",\"varname_1\",\"nl_name_1\",\"type_1\",\"engtype_1\",\"cc_1\",\"hasc_1\",geom) VALUES ('BOL','Bolivia','BOL.8_1','Santa Cruz',NULL,NULL,'Departamento','Department',NULL,'BO.SC'

iso_code name_country iso_code_dep name_dep type name_code geom